version: "3"

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80/tcp"
    environment:
      TZ: 'Europe/Lisbon'
      WEBPASSWORD: 'change_this_password'
      DNS1: '1.1.1.1'
      DNS2: '8.8.8.8'
    volumes:
      - './pihole-config:/etc/pihole'
      - './pihole-dnsmasq:/etc/dnsmasq.d'
    restart: unless-stopped