version: "3"

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    env_file:
      - .env
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80/tcp"
    environment:
      - TZ=${TZ}
      - WEBPASSWORD=${WEBPASSWORD}
      - DNS1=${DNS1}
      - DNS2=${DNS2}
    volumes:
      - './pihole-config:/etc/pihole'
      - './pihole-dnsmasq:/etc/dnsmasq.d'
    restart: unless-stopped